<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
    <a class="skip-link" href="#content">Skip to content</a>
    <main id="content" class="page-content" aria-label="Content">
      <div class="w">
        {{- block "main" . }}{{- end }}
        {{ partial "footer.html" }}
      </div>
    </main>
  </main>

  {{- if .Params.custom_js -}}
    {{- range .Params.custom_js -}}
      {{- $js := resources.Get (print "js/" . ".js") -}}
      {{- with $js -}}
        <script src="{{ .RelPermalink }}"></script>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  </body>
</html>