{{- $level := .level | default 1 -}}
{{- range $item := .collection -}}
    <div>
        {{- if eq $level 1 -}}
            {{- with $item.url -}}
                <h2><a href="{{ $item.url | relURL }}">{{ safeHTML $item.title }}</a></h2>
            {{- else -}}
                <h2>{{ safeHTML $item.title }}</h2>
            {{- end -}}
        {{- else -}}
            {{- with $item.url -}}
                <a href="{{ $item.url | relURL }}">{{ safeHTML $item.title }}</a>
            {{- else -}}
                {{ safeHTML $item.title }}
            {{- end -}}
        {{- end -}}
    </div>

    {{- if $item.entries }}
        {{ partial "menu_item.html" (dict "context" .context "collection" $item.entries "level" (add $level 1)) }}
    {{- end -}}

    {{- if $item.post_list -}}
        {{ partial "post_list.html" (dict "context" . "section" $item.post_list.section "limit" $item.post_list.limit "show_more" $item.post_list.show_more "show_more_text" $item.post_list.show_more_text "show_more_url" $item.post_list.show_more_url) -}}
    {{- end -}}
{{- end -}}
